@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px); /* میزان حرکت */
    }
  }
  
  .animate-bounce {
    animation: bounce 2s infinite; /* 2 ثانیه و تکرار نامحدود */
  }
  