@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jaro';
  src: url('./static/media/Jaro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jaro';
  src: url('./static/media/Jaro_9pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jaro';
  src: url('./static/media/Jaro_24pt-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jaro';
  src: url('./static/media/Jaro_36pt-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jaro';
  src: url('./static/media/Jaro_60pt-Regular.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background: #E8ECD7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
